<router-outlet></router-outlet>

<div class="container">
	<div class="row">
		<div class="col-sm center nav">
			<a routerLink="/gallery/exterior" routerLinkActive="active">Exterior</a> / 
			<a routerLink="/gallery/interior" routerLinkActive="active">Interior</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm center" *ngFor="let image of images">
			<img [src]="'data:image/jpg;base64,'+image.source" width="300" />
		</div>
	</div>
	<div class="row" style="display: none;">
		<div class="col-sm center">
			<h5>
				For additional information, <a routerLink="/info"
					routerLinkActive="active">click here</a>.
			</h5>
		</div>
	</div>
</div>